/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    width:100%;
	  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: helvetica;
  font-weight: 100;
  background:url(../img/body-bg.png) left top repeat;
}

* {
	margin:0; padding:0; box-sizing:none;
    box-sizing: initial;
}

a{color:#666;}

.main-aap{float:left; margin:0; padding:50px 0 0 50px;}
.main-aap .banner{width:100%; margin:0; padding:0; float:left;}
.main-aap .banner img{width:100%; margin:0; padding:0;}
.main-aap .main-cate{width:100%; float:left;}
.main-aap .cate{width:48.5%; margin:0.4%; float:left; border:1px solid #ccc; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; overflow:hidden; box-shadow:0 0 3px #ccc; padding:0 0 10px 0;
  background: #f2f2f2;
  background: -webkit-linear-gradient(left top, #f2f2f2, #fff); 
  background: -o-linear-gradient(bottom right, #f2f2f2, #fff); 
  background: -moz-linear-gradient(bottom right, #f2f2f2, #fff); 
  background: linear-gradient(to bottom right, #f2f2f2, #fff);}
.main-aap .cate img{height:500px; width:100%;}
.main-aap .cate .sep{width:100%; float:left; margin:0; padding:0; color:#666;}
.main-aap .cate .sep p{width:100%; float:left; margin:8px 0; padding:0; text-align:center; text-transform:uppercase; font-size:14px; line-height:16px; min-height:32px; color:#000;}
.main-aap .cate .sep p a{color:#666; text-decoration:none;}
.main-aap .cate .sep .left{width:47%; float:left; margin:1% 0 1% 2%; padding:0; text-align:center; font-size:18px; font-weight:400; color:#fff; line-height:50px; background:#ddf942; display:block; border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px; letter-spacing:1px;}
.main-aap .cate .sep .left a{width:100%; float:left; color:#333; text-decoration:none; text-decoration:line-through;}
.main-aap .cate .sep .left a:hover{background:#666; color:#fff; border-radius:4px 0 0 4px; -webkit-border-radius:4px 0 0 4px; -moz-border-radius:4px 0 0 4px;}
.main-aap .cate .sep .right{text-decoration:line-through; background:#333; width:47%; font-size:18px; float:right; color:#111; margin:1% 2% 1% 0; line-height:50px; text-align:center; display:block; border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; letter-spacing:1px;}
.main-aap .cate .sep .right a{width:100%; float:left; color:#fff; text-decoration:none; font-size:18px;}
.main-aap .cate .sep .right a:hover{background:#666; color:#fff; border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0;}


/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

 

.fixed-lft{position:fixed;}
.fixed-head{background:#fff; position:fixed; padding:5px 0 0 0; text-align:center; width:100%; float:left; box-shadow:0 0 10px #ccc; z-index:9;}



#sidebar {
  background: #151718;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0;
  transition: left 0.3s linear; z-index:999;
}

#sidebar.visible {
  left: 0;
  transition: left 0.3s linear;
}

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  cursor: pointer;
  padding: 12px;
  position: absolute;
  top: 0; background:url(../img/bg.jpg) left top repeat-y; height:100vh;
  right: -54px;
  z-index:999;
}

#sidebar-btn span {
  height: 1px;
  background: #ddf942;
  margin-bottom: 5px;
  display: block;
}

#sidebar-btn span:nth-child(2) { width: 75%; }

#sidebar-btn span:nth-child(3) { width: 50%; }

ul {
  margin: 0;
  padding: 0;
}

ul li { list-style: none; }

ul li a {
  background: #1c1e1f;
  color: #ccc;
  border-bottom: 1px solid #111;
  display: block;
  width: 180px;
  padding: 10px;
  text-decoration: none;
}
.fixed-head img{margin-left:50px;}
.home{position:absolute; right:5px; top:16px;}
.home img{width:24px; height:24px !important; margin:0; padding:0;}
.main-aap .cate .sep p b{font-size:20px;}
.main-aap .cate .sep p a{line-height:33px; background:#ddf942; color:#000; border:1px solid #ccc; padding:10px 40px; transition:0.2s; text-transform:uppercase; font-size:13px;}
.main-aap .cate .sep p a:hover{background:#000; color:#fff;}
.header-slider .carousel-control.left{background:none;}
.header-slider .carousel-control.right{background:none;}
.header-slider{width:60%; float:left; margin:0; padding:0; background:#fff;}
.header-slider .carousel-indicators li{border:1px solid #ccc; cursor:pointer;}
.carousel-indicators .active{background:#f2f2f2;}
.dtl-rgt{width:40%; float:right; background:#fff; min-height:610px;}
.dtl-rgt .name{width:100%; float:left; margin:20px 0 10px 0; text-align:center; font-size:35px;}
.dtl-rgt .price{width:100%; float:left; margin:10px 0 10px 0; text-align:center; font-size:35px; font-weight:bold;}
.dtl-rgt .offer{width: 94%; float:left;margin: 3%; padding:0;line-height: 40px; background:#ddf942;font-size: 14px;text-align: center; color:#000; box-shadow:0px 3px 3px #ddd;}

.header-slider .carousel-inner>.item>a>img, .carousel-inner>.item>img{width:100%;}

.dtl-rgt .rgt-btn{width:94%; float:left; margin:0 3%;}

.dtl-rgt .add-to-cart-buttons{width:100%; float:left;}

.dtl-rgt .add-to-cart-buttons .btn-cart {
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 15px; text-transform:uppercase;
    margin-top: 25px;
    letter-spacing: 1.5px;
    height: 55px; line-height:40px; width:99%; border:2px solid #000;
}
.dtl-rgt .add-to-cart-buttons .btn-cart:hover{border:2px solid #000; background:#fff; color:#000; transition:0.2s;}


.dtl-rgt .add-to-links{width:100%; float:left;}

.dtl-rgt .add-to-links li {
    width: 99%;
    height: 56px;
    border: 2px solid #000;
    margin-top: 15px; float:left;
}

.dtl-rgt ul li a{width:100%; float:left; text-transform: uppercase;
    font-weight: bold; font-size:14px;
    color: #000;
    letter-spacing: 3px; width:99%;
    line-height: 56px; background:none; margin:0; padding:0; border:none; text-align:center; transition:0.2s;}
.dtl-rgt ul li a:hover{background: #000; width:100%;
    color: #fff; text-decoration:none;}

.overview {
    text-align: center; width:94%; float:left; margin:0 3%;
}

.description .acr {
    display: inline-block;
    float: right;
    font-weight: bold;
}
.description .acr a {
    color: #000;
    font-size: 18px;
    line-height: 0;
    text-decoration: none;
    vertical-align: sub;
}
.dtl-rgt .description {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.description label {
    color: #000;
    margin-bottom: 0; text-transform:uppercase;
}

.dtl-rgt .qty-wrapper {
    width: 100%;
    margin-right: 0;
    text-align: center;
    position: relative; float:left;
}
.dtl-rgt .qty-wrapper label {
    width: 100%;
    font-weight: normal;
    line-height: 10px; font-size:16px;
}
.dtl-rgt .qty-wrapper #qty {
    width: 100px;
    margin: 0 auto; height:40px;
    float: initial;
    text-align: left;
    position: relative; padding:0 8px; margin-top:10px; font-size:18px;
}
#plus {
    position: absolute;
    margin-left: -22px;
    font-size: 22px;
    text-decoration: none;
    top: 34px;
    background: url(https://eluvy.com/skin/frontend/base/default/images/amshopby-collapsed.gif) center left no-repeat;
    width: 10px;
    height: 10px;
    background-size: 100%;
}

#minus {
    position: absolute;
    margin-left: -21px;
    font-size: 37px;
    text-decoration: none;
    line-height: 0;
    bottom: 6px;
    background: url(https://eluvy.com/skin/frontend/base/default/images/amshopby-expanded.gif) center left no-repeat;
    width: 10px;
    height: 10px;
    background-size: 100%;
}
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.detail{width:100%; float:left;}
.detail .main-aap{width:95%; background:#fff;}

.dtl-rgt .add-to-links li .fa{margin-right:5px;}


@media all and (max-width: 1024px) {
.main-aap .cate img{height:500px;}

}

@media all and (max-width: 768px) {
.main-aap .cate img{height:450px;}
.detail .main-aap{width:93%;}
.header-slider{width:100%;}
.dtl-rgt{width:100%;}

}

@media all and (max-width: 414px) {
.main-aap .cate img{height:450px;}
.fixed-head img{height:30px;}
.main-aap{padding-top:30px;}
.main-aap .cate .sep .left a{font-size:14px; line-height:30px;}
.main-aap .cate .sep .right a{font-size:14px; line-height:30px;}
.home{top:7px;}
.main-aap .cate{width:98%; margin:0.6%;}
.main-aap .cate .sep p{min-height:auto;}
.detail .main-aap{width:87%;}
.dtl-rgt .name{font-size:25px;}

}

@media all and (max-width: 375px) {
.detail .main-aap{width:85%;}



}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
